.side
  .side__header
    .side__header__box
      .side__header__box__user
        = current_user.name
      .side__header__box__icon
        = link_to new_group_path do
          = icon('far', 'edit', class: "edit")
        = link_to "/users/:id/edit" do
          = icon('fa', 'cog', class: "cog")
  .side__group
    - current_user.groups.each do |group|
      .side__group__team
        = link_to group_messages_path(group) do
          .side__group__team__name
            = group.name
          .side__group__team__message
            = group.show_last_message
      

